.menu_container {
  width: 150px;
  height: 100%;
  padding: 25px;
  position: fixed;
  right: 0;
  top: 55px;
  z-index: 1000;
}

.menu_item {
  font-size: 14px;
  line-height: 36px;
  color: #ECECEC;
  cursor: pointer;
  text-indent: 15px;
  border-left: 2px solid rgba(0, 0, 0, 0);
}

.menu_item:hover {
  transition: all 400ms;
  border-left: 2px solid #FFF;
  color: #FFF;
}
