.container {
  margin-left: 0.5rem;
  /*margin-right: 0.5rem;*/
  flex-grow: 1;
}

.search {
  /*margin-top: 1rem;*/
}

.search input {
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 0.18rem;
  line-height: 0.3rem;
  border: 1px solid #D4D4D4;
  padding: 0 0.14rem;
}

.search input:focus {
  border: 1px solid #00ADB5;
  transition: all 350ms;
}

.article {
  position: relative;
  width: 50%;
  margin: 0.25rem auto;
  border-radius: 2px;
  min-height: 1rem;
}

.article_list {
  position: relative;
  min-height: 1rem;
  margin-top: 0.15rem;
}

.loading_container {
  position: relative;
  height: 0.5rem;
  margin: 0.25rem 0;
}

.article_item {
  padding: 0.15rem 0.25rem 0.1rem 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #FFF;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
}

.article_item h3 {
  font-size: 0.2rem;
  color: #656D78;
  margin-bottom: 0.15rem;
  font-weight: normal;
}

.article_item .title {
  font-weight: normal;
  font-size: 0.2rem;
  cursor: pointer;
  outline: none;
}

.title:hover {
  color: #00ADB5;
  transition: color 400ms;
}

.title:active {
  text-shadow: 0 2px 2px #E7E9ED;
  transition: all 400ms;
}

.article_about {
  font-size: 0.14rem;
  line-height: 0.24rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #E7E9ED;
}

.label {
  height: 0.2rem;
  margin-right: 0.05rem;
  border: 1px solid #4D4D4D;
  color: #4D4D4D;
  cursor: pointer;
  padding: 0.02rem 0.08rem;
  border-radius: 0.02rem;
}

.label:hover {
  color: #00ADB5;
  border-color: #00ADB5;
  transition: all 200ms;
}

.create_time {
  margin-left: 0.08rem;
  color: #8C8C8C;
}

.author {
  margin-left: 0.08rem;
  font-size: 0.14rem;
  color: #4B4B4B;
  cursor: pointer;
}

.author:hover {
  color: #333;
}

.foot_tool {
  height: 0.36rem;
  line-height: 0.36rem;
  display: flex;
  font-size: 0.12rem;
  justify-content: space-between;
}

.thumbs_btn {
  color: #A5A5A5;
  font-size: 0.16rem;
  padding: 0 0.05rem;
  cursor: pointer;
  outline: none;
  transition: all 300ms;
}

.thumbs_btn:hover {
  color: #4D4D4D;
}

.thumbs_btn:active {
  color: #00ADB5;
}

.more {
  color: #A5A5A5;
  text-decoration: none;
}

.more:hover {
  color: #00ADB5;
  text-decoration: underline;
}

.article_footer {
  position: relative;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .container {
    margin: 0;
  }
  .article {
    width: auto;
    margin-top: 0.85rem;
  }
}
@media only screen and (min-device-width : 1366px) and (max-device-width: 1600px) {
  .article {
    width: 65%;
  }
}

.markdownBody {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-size: 14px;
  line-height: 1.75;
  margin-top: 0.15rem;
  overflow:hidden;
  text-overflow:ellipsis;
  color: #7c8999;
  cursor: pointer;
}
