.left_nav {
  position: fixed;
  width: 0.6rem;
  height: 100%;
  color: #E6E9ED;
  background-color: #3E4149;
  z-index: 1000;
}

.auth_avatar {
  width: 100%;
  text-align: center;
  display: flex;
  min-height: 1rem;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #27323A;
}

.avatar {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  display: inline-block;
}

.avatar img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.user_name {
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.14rem;
  font-weight: lighter;
}

.count {
  color: #2E94B9;
  font-size: 12px;
  margin-left: 0.1rem;
  text-decoration: none;
}

.count:hover {
  text-decoration: underline;
}

.auth_nav {
}

.auth_nav li {
  text-align: center;
  height: 0.45rem;
  line-height: 0.45rem;
  list-style: none;
  font-size: 0.2rem;
  cursor: pointer;
  transition: all 250ms;
}

.auth_nav li:hover {
  background-color: #27323A;
}

.auth_nav .active {
  color: #2E94B9;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65);
  background-color: #27323A;
}

.nav_btn {
  display: none;
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  top: 0.14rem;
  right: 0.25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  border-radius: 50%;
}

.auth_nav_mob {
  /*display: none;*/
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .left_nav {
    width: 100%;
    height: 0.64rem;
    padding: 0;
    transform: translateX(0);
  }
  .avatar {
    display: none;
  }
  .auth_avatar {
    display: inline-block;
    position: absolute;
    text-align: left;
    min-height: 0;
    border-bottom: none;
  }
  .nav_btn {
    display: inline-block;
    z-index: 1;
  }
  .nav_btn:active {
    transition: all 250ms;
    box-shadow: rgba(231, 233, 237, 0.15) 0 0 0 10px;
  }
  .auth_nav {
    display: none;
  }
  .auth_nav_mob {
    /*display: block;*/
    background: rgba(255,255,255,0.9);
    width: 100%;
    position: absolute;
    top: 0.64rem;
    color: #4D4D4D;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px #CCC;
  }
  .auth_nav_mob li {
    margin: 0;
    padding: 0;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: left;
    font-size: 0.18rem;
    text-indent: 0.25rem;
    border-left: none;
  }
  .auth_nav_mob li:hover {
    border-left: none;
    background-color: #FFF;
  }
  .auth_nav_mob li:active {
    transition: all 250ms;
    background-color: rgb(238,238,238);
  }
  .user_name {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 0.64rem;
    margin-left: 0.25rem;
    font-size: 0.2rem;
    line-height: 0.64rem;
  }
}
