.left_nav {
  position: fixed;
  width: 1.25rem;
  height: 100%;
  color: #E6E9ED;
  background-color: #384345;
  padding-top: 0.45rem;
  z-index: 1000;
}

.auth_avatar {
  width: 100%;
  text-align: center;
}

.avatar {
  width: 0.5rem;
  height: 0.5rem;
}

.avatar img {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #CCC;
}

.user_name {
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.16rem;
}

.auth_nav {
  margin: 0.35rem 0 0 0;
}

.auth_nav li {
  padding-left: 0.15rem;
  height: 0.36rem;
  line-height: 0.36rem;
  list-style: none;
  font-size: 0.14rem;
  cursor: pointer;
  border-left: 2px solid #384345;
}

.auth_nav li:hover {
  background-color: #2e3738;
  border-left: 2px solid #F45E6E;
  transition: all 450ms;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .left_nav {
    width: 100%;
    height: 0.64rem;
    padding: 0;
    transform: translateX(0);
  }
  .auth_avatar {
    display: inline-block;
    left: 0;
    width: 0.64rem;
    height: 0.64rem;
    line-height: 0.64rem;
  }
  .auth_nav {
    display: none;
    z-index: 1000;
    background: #3C3B3D;
    width: 100%;
    position: absolute;
    top: 0.64rem;
    margin: 0;
    box-shadow: 0 1px 2px #CCC;
  }
  .auth_nav li {
    margin: 0;
    padding: 0;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
  }
  .auth_nav li:hover {
    border-right: none;
  }
  .user_name {
    display: none;
  }
}
