:root {
  --color: #343F4B;
}

.left_nav {
  position: fixed;
  width: 0.5rem;
  height: 100%;
  color: #E6E9ED;
  background-color: var(--color);
  z-index: 1000;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), 1px 0 1px rgba(16, 22, 26, 0.4);
}

.auth_avatar {
  width: 100%;
  text-align: center;
  display: flex;
  min-height: 1rem;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #222C38;
}

.avatar {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 auto;
  display: inline-block;
}

.avatar img {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.user_name {
  font-size: 0.12rem;
  font-weight: lighter;
}

.count {
  color: #35A3E3;
  font-size: 12px;
  margin-left: 0.1rem;
  text-decoration: none;
}

.count:hover {
  text-decoration: underline;
}

.auth_nav {
}

.auth_nav li {
  text-align: center;
  height: 0.45rem;
  line-height: 0.45rem;
  list-style: none;
  font-size: 0.2rem;
  cursor: pointer;
  transition: all 250ms;
}

.auth_nav li:hover {
  background-color: #222C38;
}

.auth_nav .active {
  color: #35A3E3;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65);
  background-color: #222C38;
}

.nav_btn {
  display: none;
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  top: 0.14rem;
  right: 0.25rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  border-radius: 50%;
}

.auth_nav_mob {
  /*display: none;*/
}

.logout {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 0.45rem;
  width: 100%;
  line-height: 0.45rem;
  list-style: none;
  font-size: 0.2rem;
  cursor: pointer;
  transition: all 250ms;
}

.logout:hover {
  background-color: #27323A;
}

.logout:active {
  color: #35A3E3;
  background-color: #27323A;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .left_nav {
    width: 100%;
    height: 0.64rem;
    padding: 0;
    transform: translateX(0);
  }
  .logout {
    display: none,
  }
  .avatar {
    display: none;
  }
  .auth_avatar {
    display: inline-block;
    position: absolute;
    text-align: left;
    min-height: 0;
    border-bottom: none;
  }
  .nav_btn {
    display: inline-block;
    z-index: 1;
  }
  .nav_btn:active {
    transition: all 250ms;
    box-shadow: rgba(231, 233, 237, 0.15) 0 0 0 10px;
  }
  .auth_nav {
    display: none;
  }
  .auth_nav_mob {
    background: #263238;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2) inset;
    width: 100%;
    position: absolute;
    top: 0.64rem;
    color: #E6E9ED;
    margin: 0;
    overflow: hidden;
  }
  .auth_nav_mob li {
    margin: 0;
    padding: 0;
    height: 0.64rem;
    color: #FFF;
    line-height: 0.64rem;
    text-align: left;
    font-size: 0.18rem;
    text-indent: 0.15rem;
    border-left: none;
    transition: all 150ms;
  }

  .auth_nav_mob li:active {
    text-indent: 0.25rem;
    background-color: #384247;
  }
  .label {
    margin-left: 0.2rem;
  }
  .user_name {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 0.64rem;
    margin-left: 0.25rem;
    font-size: 0.2rem;
    line-height: 0.64rem;
  }
}
