.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.spinner {
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.double_bounce1, .double_bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(24, 141, 184, 0.6);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk_bounce 2.0s infinite ease-in-out;
  animation: sk_bounce 2.0s infinite ease-in-out;
}

.double_bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk_bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk_bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
