.main_container {
  width: 100%;
  min-height: 400px;
  height: 60%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_tit {
  line-height: 350px;
}

.main_tit a {
  color: #F8F8F8;
  cursor: pointer;
  font-family: "Microsoft YaHei light";
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.main_tit a:hover {
  color: #FFF;
}
