.admin {
  margin-left: 1.5rem;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.article_list {
  width: 2.5rem;
  height: 100%;
  padding-top: 0.3rem;
  background: #EBEDEE;
}

.article_list h3 {
  margin: 0;
  line-height: 0.64rem;
  height: 0.64rem;
  text-indent: 0.25rem;
  font-size: 0.24rem;
  color: #323232;
  font-weight: normal;
  position: relative;
}

.add_new {
  position: absolute;
  right: 0.25rem;
  top: 0.16rem;
  width: 0.32rem;
  height: 0.32rem;
  outline: none;
  color: #666;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #CCC;
}

.add_new:hover {
  color: #323232;
  box-shadow: 0 1px 2px #CCC;
}

.add_new:active {
  text-shadow: 0 2px 3px #666;
  background: #666;
  color: #F5F5F5;
  transition: all 200ms;
}

.article_name {
  margin-top: 0.25rem;
  overflow-y: scroll;
  height: 100%;
}
.article_name::-webkit-scrollbar{ width:0px }

.article_name li {
  padding-left: 0.25rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.article_name li:hover {
  background-color: #F7F8FA;
  color: #323232;
  transition: all 450ms;
}

.article_btn {
  height: 1rem;
  line-height: 1rem;
  display: flex;
  justify-content: space-between;
}

.article_title {
  padding: 0 0.25rem;
  width: 50%;
}

.article_title input {
  border-bottom: 1px solid #CCC;
  line-height: 0.5rem;
  font-size: 0.25rem;
  padding: 0 0.15rem;
  width: 100%;
}

.article_title input:focus {
  border-bottom: 1px solid #00BAD2;
  transition: all 450ms;
}

.btn {
  padding: 0 0.25rem;
  width: 50%;
  display: flex;
  line-height: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.btn button {
  min-width: 0.85rem;
  height: 0.36rem;
  outline: none;
  cursor: pointer;
  color: #FFF;
  border-radius: 2px;
  margin-left: 0.4rem;
}

.save {
  background-color: #E96900;
}

.release {
  background-color: #42B983;
}

.article_name li h4 {
  font-size: 0.2rem;
  margin: 0;
  line-height: 0.45rem;
  height: 0.45rem;
  color: #666;
  font-weight: normal;
}

.article_name li span {
  font-size: 0.12rem;
  color: #999;
  margin-right: 0.15rem;
}

.article_editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor {
  display: flex;
  flex-grow: 1;
}

.input {
  width: 50%;
  padding: 0.25rem;
  outline: none;
  resize: none;
  font-size: 0.16rem;
  border-right: 1px solid #CCC;
  overflow-y: scroll;
}

.input::-webkit-scrollbar{ width:0px }

.output_mark {
  width: 50%;
  padding: 0.25rem;
  overflow-y: scroll;
}

.output_mark::-webkit-scrollbar{ width:0px }
