.container {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.article {
  position: relative;
  width: 12rem;
  margin: 0.5rem auto;
  /*margin-left: 0.5rem;*/
  height: 5rem;
  background: #F5F5F5;
  border-radius: 2px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.article h3 {
  font-size: 0.28rem;
  color: #656D78;
  font-weight: normal;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .container {
    margin: 0;
  }
  .article {
    width: auto;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 1rem;
  }
}
