.auth_cont {
  width: 4.5rem;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 0.02rem;
  padding: 0.12rem;
}

.auth_cont h3 {
  text-align: center;
  font-size: 0.16rem;
  color: #4B4B4B;
  line-height: 0.45rem;
  height: 0.45rem;
  margin: auto;
  font-weight: normal;
}

.auth_form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.auth_input {
  flex-grow: 1;
  width: 85%;
  color: #4B4B4B;
  margin-top: 0.25rem;
  background: rgba(255, 255, 255, 0.75);
  border: 0.01rem solid rgba(255, 255, 255, 0.35);
  height: 0.45rem;
  line-height: 0.45rem;
  text-indent: 0.15rem;
  border-radius: 0.02rem;
}

.auth_input:focus {
  border: 0.01rem solid #00BAD2;
  box-shadow: 0 1px 1px 1px rgba(0, 186, 210, 0.2);
  transition: all 350ms;
}

.login_btn {
  width: 1.25rem;
  height: 0.35rem;
  cursor: pointer;
  margin-top: 0.25rem;
  border-radius: 0.02rem;
  color: #FFF;
  outline: none;
  background-color: #00BAD2;
}

.login_btn:hover {
  background-color: #05b2c8;
  transition: all 250ms;
}

.login_btn:active {
  background-color: #00BAD2;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
  transition: all 250ms;
}

.error_input {
  font-size: 0.12rem;
  position: relative;
  display: inline-block;
  width: 85%;
  text-indent: 0.15rem;
  color: #E91E63;
  height: 0.14rem;
  line-height: 0.14rem;
  top: 0.05rem;
  text-align: left;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .auth_cont {
    width: 95%;
    margin: 0.75rem auto;
    position: relative;
  }
  .login_btn {
    width: 2.25rem;
    height: 0.45rem;
    font-size: 0.16rem;
  }
  .error_input {
    width: 100%;
  }
  .auth_input {
    width: 100%;
    line-height: 0.45rem;
  }
}
