.auth {

}
.auth_ani {
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 0.02rem;
  z-index: 1000;
}

.auth_ani .loading {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition: all 500ms;
}

.auth_cont {
}

.auth_cont h3 {
  text-align: center;
  font-size: 0.16rem;
  color: #4B4B4B;
  line-height: 0.45rem;
  height: 0.45rem;
  margin: auto;
  font-weight: normal;
}

.auth_input:focus {
  border-color: #2E94B9;
  transition: all 300ms;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .auth_ani {
    width: 95%;
  }
  .login_btn {
    width: 2.25rem;
    height: 0.5rem;
    font-size: 0.16rem;
  }
  .error_input {
    width: 100%;
  }
  .auth_input {
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
  }
}
