/**
 * styles.css
 *
 * App container styles
 */
html,
body {
  background-color: #ececec !important;
  -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

::-webkit-scrollbar {
  width: 8px;
  height: 16px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 4px;
  background-color: #616161;
}

html {
  font-size: 625%;
}

body {
  font-size: 14px;
  height: 100%;
  background-color: #EBEFF2;
}

html,
body,
a,
p,
div,
button,
span,
textarea,
input,
ul,
li,
label {
  font-family: Arial, 'Microsoft YaHei' !important;
}

a {
  outline: none !important;
  text-transform: none !important;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

button {
  text-transform: none !important;
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

span {
  -webkit-appearance: none !important;
}

input {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
  outline: none;
}

input:-webkit-autofill {
  background-color: rgb(255, 255, 255);
  background-image: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: rgb(0, 0, 0);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  html {
    font-size: 535%;
  }
}

.container {
  display: block;
  overflow: hidden;
}
