/**
 * styles.css
 *
 * App container styles
 */
html,
body {
  height: 100%;
}

html {
  font-size: 625%;
}

body {
  font-size: 14px;
  color: #31424E;
  background-color: #F7F8FA;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Microsoft YaHei";
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}

a {
  outline: none !important;
  text-transform: none !important;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

button {
  text-transform: none !important;
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

input {
  margin: 0;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  box-sizing: border-box;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  html {
    font-size: 525%;
  }
}

.container {
  display: block;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #EFE9E7;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #4B4B4B;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
